#add-new-todo-button{
    font-size: 20px;
    text-align: center;
    color: purple;
    border-radius: 5px;
}

body { 
    background-color: grey;
}

form {
    margin-left: 100px;
}

input {
    display: block;
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
}